:root{
	--maincolor: #15202B;
	--secondrycolor: #192734;

	--bordercolor: #164D56;

	--maintext:#ffff;
	--secondrytext:#eeee;

	--dotbordertheme:#ffff;

	--previewbgcolor: rgb(25, 39, 52, 0.8);

	--previewshadow: #111921;

	--buttoncolor: #17a2b8;

};
