:root{
	--maincolor: #606B56;
	--secondrycolor: #515a48;

	--bordercolor: #161914;

	--maintext:#ffff;
	--secondrytext:#eeee;

	--dotbordertheme:#ffff;

	--previewbgcolor: rgb(81, 90, 72, 0.8);

	--previewshadow: #2a2f25;

	--buttoncolor: #669966;

};
